<header class="header">
    <!-- header desktop -->
    <div class="header_desktop" [ngStyle]="{'top': windowScrolled == true ? '-50px' : '0'}">
        <div class="topbar">
            <div class="topbar-left">
                Địa chỉ: Điện ngọc - Điện Bàn - Quảng Nam
            </div>
            <span class="topbar-center">
                Free shipping for standard order over $100
            </span>
            <div class="topbar-right">
                <span>
                    Phone: 077-420-3654
                </span>
            </div>
        </div>
        <div class="wrap_header" [ngStyle]="{'height': windowScrolled == true ? '70px' : '80px'}">
            <a class="logo" href="#"><img class="logoImg" src="../../../../../assets/images/icons/logo.png" /></a>
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li *ngFor="let item of navItems" class="zoom dropdown">
                            <span *ngIf="item.children && item.children.length > 0">
                                <a [routerLink]="item.link" style="cursor: pointer;" routerLinkActive="nav-active"
                                    [matMenuTriggerFor]="menu.childMenu" #rla="routerLinkActive" #levelOneTrigger="matMenuTrigger" (mouseenter)="buttonEnter(levelOneTrigger)" (mouseleave)="buttonLeave(levelOneTrigger)"
                                    >{{ item.displayName }}
                                    <mat-icon>expand_more</mat-icon></a>
                                <tree-menu (mouseenter2)="menuenter()" (mouseleave2)="menuLeave(levelOneTrigger)" #menu [nodes]="item.children"></tree-menu>
                            </span>
                            <span *ngIf="!item.children || item.children.length === 0">
                                <a [routerLink]="item.link" routerLinkActive="nav-active"
                                    #rla="routerLinkActive">{{ item.displayName }}</a>
                            </span>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-icons">
                <a href="#" class="header-wrapicon1 dis-block">
                    <img class="header-icon1" src="../../../../../assets/images/icons/icon-header-01.png" />
                </a>
                <span class="linedivide1"></span>
                <div>
                    <img (click)="showCart($event)" class="header-icon1 header-wrapicon2"
                        src="../../../../../assets/images/icons/icon-header-02.png" />
                    <span class="header-icons-noti">0</span>

                    <div class="header-cart header-dropdown"
                        [ngStyle]="{'transform': isShowCart == true ? 'scale(1)' : 'scale(0)'}">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="deleteItem">
                                    <p>x</p>
                                </div>
                                <div class="header-card-1">
                                    <div class="header-cart-item-img">
                                        <img src="../../../../../assets/images/ImageProduct/item-cart-01.jpg" alt="IMG">
                                    </div>

                                    <div class="header-cart-item-txt">
                                        <a class="header-cart-item-name">
                                            White Shirt With Pleat Detail Back hite
                                        </a>

                                        <span class="header-cart-item-info">
                                            1 x $19.00
                                        </span>
                                    </div>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="deleteItem">
                                    <p>x</p>
                                </div>
                                <div class="header-card-1">
                                    <div class="header-cart-item-img">
                                        <img src="../../../../../assets/images/ImageProduct/item-cart-01.jpg" alt="IMG">
                                    </div>

                                    <div class="header-cart-item-txt">
                                        <a class="header-cart-item-name">
                                            White Shirt With Pleat Detail Back hite
                                        </a>

                                        <span class="header-cart-item-info">
                                            1 x $19.00
                                        </span>
                                    </div>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="deleteItem">
                                    <p>x</p>
                                </div>
                                <div class="header-card-1">
                                    <div class="header-cart-item-img">
                                        <img src="../../../../../assets/images/ImageProduct/item-cart-01.jpg" alt="IMG">
                                    </div>

                                    <div class="header-cart-item-txt">
                                        <a class="header-cart-item-name">
                                            White Shirt With Pleat Detail Back hite
                                        </a>

                                        <span class="header-cart-item-info">
                                            1 x $19.00
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header mobile -->
    <div class="header_mobile">
        <div class="wrap_header">
            <div class="menu_mobile">
                <button style="outline: none;" mat-icon-button (click)="showMenuNav()"
                    aria-label="Example icon-button with a menu">
                    <i class="material-icons">view_list</i>
                </button>
            </div>
            <a class="logo" href="#"><img class="logoImg" src="../../../../../assets/images/icons/logo.png" /></a>
            <div class="header-icons">
                <a href="#" class="header-wrapicon1 dis-block">
                    <img class="header-icon1" src="../../../../../assets/images/icons/icon-header-01.png" />
                </a>
                <span class="linedivide1"></span>
                <div class="header-wrapicon2">
                    <img class="header-icon1" src="../../../../../assets/images/icons/icon-header-02.png" />
                    <span class="header-icons-noti">0</span>
                </div>
            </div>
        </div>
    </div>
</header>