<header>
    <!-- header desktop -->
    <div class="header_desktop">
        <div class="topbar">
            <div class="topbar-left">
                Địa chỉ: Điện ngọc - Điện Bàn - Quảng Nam
            </div>
            <span class="topbar-center">
                Free shipping for standard order over $100
            </span>
            <div class="topbar-right">
                <span>
                    Phone: 077-420-3654
                </span>
            </div>
        </div>
        <div class="wrap_header">
            <a class="logo" href="#"><img class="logoImg" src="../../../../../assets/images/icons/logo.png" /></a>
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li *ngFor="let link of links" class="zoom">
                            <a [routerLink]="link.link" routerLinkActive="nav-active"
                                #rla="routerLinkActive">{{ link.label}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-icons">
                <a href="#" class="header-wrapicon1 dis-block">
                    <img class="header-icon1" src="../../../../../assets/images/icons/icon-header-01.png" />
                </a>
                <span class="linedivide1"></span>
                <div class="header-wrapicon2">
                    <img class="header-icon1" src="../../../../../assets/images/icons/icon-header-02.png" />
                    <span class="header-icons-noti">0</span>
                </div>
            </div>
        </div>
    </div>

    <!-- header mobile -->
    <div class="header_mobile">
        <div class="wrap_header">
            <div class="menu_mobile">
                <button style="outline: none;" mat-icon-button (click)="showMenuNav()"
                    aria-label="Example icon-button with a menu">
                    <i class="material-icons">view_list</i>
                </button>
                <!-- <mat-menu #menu="matMenu">
                    <ul class="main_menu_mobile">
                        <li><a [routerLink]="''">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Sale</a></li>
                        <li><a [routerLink]="'about'">Aboul</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                  </mat-menu> -->
            </div>
            <a class="logo" href="#"><img class="logoImg" src="../../../../../assets/images/icons/logo.png" /></a>
            <div class="header-icons">
                <a href="#" class="header-wrapicon1 dis-block">
                    <img class="header-icon1" src="../../../../../assets/images/icons/icon-header-01.png" />
                </a>
                <span class="linedivide1"></span>
                <div class="header-wrapicon2">
                    <img class="header-icon1" src="../../../../../assets/images/icons/icon-header-02.png" />
                    <span class="header-icons-noti">0</span>
                </div>
            </div>
        </div>
    </div>
</header>