<ul>
  <li *ngFor="let item of nodes">
    <button>{{ item.displayName }}</button>
    <div *ngIf="item.children">
      <ng-container *ngTemplateOutlet="tree; context: { $implicit: item.children }"></ng-container>
    </div>
  </li>
</ul>

<ng-template #tree let-array>
  <ul>
    <li *ngFor="let child of array">
      <button>{{ child.displayName }}</button>
      <div *ngIf="child.children">
        <ng-container *ngTemplateOutlet="tree; context: { $implicit: child.children }"></ng-container>
      </div>
    </li>
  </ul>
</ng-template>