<ul class="top-level-menu">
  <li *ngFor="let item of nodes">
      <a [routerLink]="item.link" routerLinkActive="nav-active">{{ item.displayName }} <mat-icon *ngIf="item.children.length > 0" class="iconMenu">expand_more</mat-icon></a>
      <div *ngIf="item.children.length > 0">
        <ng-container *ngTemplateOutlet="tree; context: { $implicit: item.children, class: 'second-level-menu' }">
        </ng-container>
      </div>
  </li>
</ul>

<ng-template #tree let-array let-class="class">
  <ul [ngClass]="class">
    <li *ngFor="let child of array">
      <a [routerLink]="child.link" routerLinkActive="nav-active">{{ child.displayName }}</a>
      <div *ngIf="child.children">
        <ng-container *ngTemplateOutlet="tree; context: { $implicit: child.children, class: 'third-level-menu' }">
        </ng-container>
      </div>
    </li>
  </ul>
</ng-template>