<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
      <span *ngFor="let child of nodes">
       <span>
          <!-- Handle branch node menu items -->
        <span *ngIf="child.children && child.children.length > 0">
          <button [routerLink]="child.link" class="element" mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
            <span>{{child.displayName}}</span>
          </button>
          <tree-menu #menu [nodes]="child.children"></tree-menu>
        </span>
        <!-- Handle leaf node menu items -->
        <span *ngIf="!child.children || child.children.length === 0">
          <button class="element" mat-menu-item [routerLink]="child.link">
            <span>{{child.displayName}}</span>
          </button>
        </span>
       </span>
    </span>
  </mat-menu>
  