.cart {
    padding-top: 55px;
    justify-content: center;
    display: flex;
}

.container {
    max-width: 1200px;
}

/* @media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
} */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.pos-relative {
    position: relative;
}

.wrap-table-shopping-cart {
    overflow: auto;
}

.bgwhite {
    background-color: white;
}

.table-shopping-cart {
    border-collapse: collapse;
    width: 100%;
    min-width: 992px;
}

.table-shopping-cart .table-row {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.table-shopping-cart .table-head th {
    font-family: Montserrat-Bold;
    font-size: 13px;
    color: #555555;
    line-height: 1.5;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
}

.table-shopping-cart .column-1 {
    width: 225px;
    padding-left: 50px;
}

th {
    text-align: left;
}

.table-shopping-cart td {
    font-family: Montserrat-Regular;
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
    padding-top: 37px;
    padding-bottom: 30px;
}

.cart-img-product {
    width: 90px;
    position: relative;
}

.cart-img-product img {
    width: 100%;
}

.table-shopping-cart .table-row .column-2 {
    font-size: 15px;
}

.table-shopping-cart .column-2 {
    width: 300px;
    padding-right: 30px;
}

.table-shopping-cart .column-3 {
    width: 133px;
    padding-right: 30px;
}

.table-shopping-cart .column-4 {
    width: 200px;
    padding-right: 30px;
}

.bo5 {
    /* border: 2px solid #e6e6e6; */
    border-radius: 3px;
}

.w-size17 {
    width: 138px;
}

.flex-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.table-shopping-cart .table-row {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.of-hidden {
    overflow: hidden;
}

.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-r-22 {
    margin-right: 22px;
}

.flex-c-m {
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    text-decoration: none;
}

.color1 {
    color: #888888;
}

.size7 {
    width: 42px;
    height: 41px;
    outline: none;
}

.bg8 {
    background-color: #e6e6e6;
}

.num-product {
    width: 50px;
    text-align: center;
    outline: none;
    border: none;
}

.t-center {
    text-align: center;
}

.flex-sb-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
}

.p-r-60 {
    padding-right: 60px;
}

.p-l-35 {
    padding-left: 35px;
}

.p-b-25 {
    padding-bottom: 25px;
}

.p-t-25 {
    padding-top: 25px;
}

.flex-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.bo4 {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}

.size11 {
    width: 260px;
    height: 45px;
}

.m-r-10 {
    margin-right: 10px;
}

.s-text7 {
    font-family: Montserrat-Regular;
    font-size: 13px;
    color: #555555;
    line-height: 1.8;
}

.sizefull {
    width: 100%;
    height: 100%;
}

.p-r-22 {
    padding-right: 22px;
}

.p-l-22 {
    padding-left: 22px;
}

input {
    outline: none;
    border: none !important;
}

.size12 {
    width: 193px;
    height: 45px;
}

.trans-0-4 {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

.size10 {
    width: 176px;
    height: 45px;
}

.bo-rad-23 {
    border-radius: 23px;
}

.bg1 {
    background-color: #222222;
}

.s-text1 {
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}

.size10 :hover {
    background-color: red !important;
}

.size12 :hover {
    background-color: red;
}

.total-price {
    font-size: 21px;
    font-weight: bold;
}

.column-5{
    text-align: center;
}

.discount{
    color: green;
    cursor: pointer;
}

.m-update{
    margin-right: 50px;
}

@media only screen and (max-width: 425px) {
    .flex-sb-m {
        justify-content: space-between;
    }

    .size10{
        width: 100%;
    }

    .m-update{
        margin-right: 0;
    }
}