<mat-drawer-container class="example-container main_container">
    <div class="main">
        <div class="d-logo">
            <a class="logo" href=""><img class="logoImg" src="../../../../assets/images/icons/logo-login.png" /></a>
        </div>
        <router-outlet></router-outlet>
        <div class="login-agileits-bottom1">
            <h3>hoặc đăng nhập với</h3>
        </div>
        <div class="social_icons agileinfo">
            <ul class="top-links">
                <li class="l-facebook"><a href="#" class="facebook"><i class="fa fa-facebook"></i>facebook</a></li>
                <li class="l-twitter"><a href="#" class="twitter"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
                <li class="l-linkedin"><a href="#" class="linkedin"><i class="fa fa-linkedin"></i>Zalo</a></li>
            </ul>
        </div>
    </div>
</mat-drawer-container>