/* .third-level-menu {
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border-left: 2px solid red;
}

.third-level-menu>li {
    background-color: white;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
}

.third-level-menu>li:hover {
    background: #CCCCCC;
} */

/* .second-level-menu {
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border-top: 2px solid red;
}

.second-level-menu>li {
    border-bottom: 2px solid #ddd;
}

.third-level-menu>li {
    border-bottom: 2px solid #ddd;
}

.second-level-menu>li {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    background: white;
}

.second-level-menu>li:hover {
    background: #CCCCCC;
} */

/* .top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
}

.top-level-menu>li {
    height: 100%;
    width: 100%;
    border-top: 1px solid #ececec;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
} */

/* .top-level-menu li:hover>div>ul {
    display: inline;
} */

/* .top-level-menu a {
    font: bold 14px Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    padding: 0 0 0 10px;
    line-height: 30px;
    margin-left: 20px;
}

.top-level-menu a:hover {
    color: #000000;
} 

ul li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.third-level-menu {
    display: none;
}

.second-level-menu {
    display: none;
}

.iconMenu {
    top: 4px;
    position: relative;
    float: right;
}

.l-icon {
    margin-bottom: 0.5rem;
    float: right;
}

.top-level-menu li:checked {
    background-color: red;
}

input[type="checkbox"] {
    display: none;
} */



/* #menu :checked ~ div>ul {
    display: inline;
}

#menu:checked~.second-level-menu, .item input:checked~ul {
    display: block;
} */

/* #menu :checked ~ .second-level-menu {
    display: block;
} */

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.top-level-menu li:checked>div>ul {
    display: none;
}

/* .top-level-menu li:active>div>ul {
    display: none;
} */