@import "../../../../theme.scss";

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: mat-color($app-primary, 50);
  }
  &:hover,
  &:focus {
    > .mat-list-item:not(.expanded) {
      background-color: mat-color($app-primary, 100) !important;
    }
  }
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;

  .routeIcon {
    margin-right: 40px;
  }
}

.a-size {
  padding-left: 0px;
  font-weight: bold;
  color: #999999;
  font-family: cursive;
}

.mat-icon {
  line-height: 0;
}

.tree-mobile {
  border-top: 1px solid #ececec;
  padding: 10px;
  padding-left: 45px;
}
