<div>
  <a mat-list-item [routerLink]="item.metatitle" (click)="navService.closeNav()" routerLinkActive="nav-active" class="menu-list-item a-size">
    {{item.name}}
  </a>
  <span fxFlex *ngIf="item.categoryDtos && item.categoryDtos.length">
    <span fxFlex></span>
    <mat-icon (click)="onItemSelected(item)"
      [ngClass]="{'active': item.metatitle ? router.isActive(item.metatitle, true): false, 'expanded': expanded}">
      {{expanded  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
  </span>
</div>
<div *ngIf="expanded">
  <app-tree-menu-mobile class="tree-mobile" *ngFor="let child of item.categoryDtos" [item]="child" >
  </app-tree-menu-mobile>
</div>