<!-- <ul class="top-level-menu">
  <li *ngFor="let item of nodes">
    <a>{{ item.displayName }}</a>
    <label class="l-icon" for="menu" *ngIf="item.children.length > 0"> 
      <input type="checkbox" id="menu" class="menuItem" />
      <mat-icon class="iconMenu">expand_more</mat-icon>
    </label>

    <div *ngIf="item.children.length > 0">
      <ng-container *ngTemplateOutlet="tree; context: { $implicit: item.children, class: 'second-level-menu' }">
      </ng-container>
    </div>
  </li>
</ul>

<ng-template #tree let-array let-class="class">
  <ul [ngClass]="class">
    <li *ngFor="let child of array">
      <a>{{ child.displayName }}</a>
      <label class="l-icon" for="menu" *ngIf="child.children.length > 0"> 
        <input type="checkbox" id="menu" class="menuItem" />
        <mat-icon class="iconMenu">expand_more</mat-icon>
      </label>
      <div *ngIf="child.children.length > 0">
        <ng-container *ngTemplateOutlet="tree; context: { $implicit: child.children, class: 'third-level-menu' }">
        </ng-container>
      </div>
    </li>
  </ul>
</ng-template> -->

<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
   [ngClass]="{'active': item.link ? router.isActive(item.link, true): false, 'expanded': expanded}"
   class="menu-list-item">
  <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
  {{item.displayName}}
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon>{{expanded  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>

  </span>
</a>
<div *ngIf="expanded">
  <app-tree-menu-mobile *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-tree-menu-mobile>
</div>
