/* Menu Styles */

.third-level-menu {
    position   : absolute;
    top        : 0;
    right      : -200px;
    width      : 200px;
    list-style : none;
    padding    : 0;
    margin     : 0;
    display    : none;
    border-left: 2px solid red;
}

.third-level-menu>li {
    background-color: white;
    position        : relative;
    height          : 40px;
    display         : flex;
    align-items     : center;
}

.third-level-menu>li:hover {
    background: #CCCCCC;
}

.second-level-menu {
    position  : absolute;
    top       : 30px;
    left      : 0;
    width     : 150px;
    list-style: none;
    padding   : 0;
    margin    : 0;
    display   : none;
    border-top: 2px solid red;
}

.second-level-menu>li {
    border-bottom: 2px solid #ddd;
}

.third-level-menu>li {
    border-bottom: 2px solid #ddd;
}

.second-level-menu>li {
    position   : relative;
    height     : 40px;
    display    : flex;
    align-items: center;
    background : white;
}

.second-level-menu>li:hover {
    background: #CCCCCC;
}

.top-level-menu {
    list-style: none;
    padding   : 0;
    margin    : 0;
    display: grid;
}

.top-level-menu>li {
    height  : 100%;
    width: 100%;
    border-top: 1px solid #ececec;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}

.top-level-menu li:hover>div>ul {
    /* On hover, display the next level's menu */
    display: inline;
}

/* Menu Link Styles */

.top-level-menu a

/* Apply to all links inside the multi-level menu */
    {
    font           : bold 14px Arial, Helvetica, sans-serif;
    color          : black;
    text-decoration: none;
    padding        : 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    line-height: 30px;
    margin-left: 20px;
}

.top-level-menu a:hover {
    color: #000000;
}
