.main_menu_mobile{
    margin-top: 35px;
    margin-left: 22px;
}

.logoImg{
    width: 80%;
    margin-top: 20px;
    margin-left: 25px;
}

.main_menu_mobile>li {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

.main_menu_mobile>li>a {
    font-family: Montserrat-Regular;
    font-size: 17px;
    font-weight: bold;
    color: #333333;
    padding: 0;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

@media only screen and (max-width: 426px){
    .drawer{
        width: 50% !important;
    }

    .logoImg{
        width: 80%;
        margin-top: 20px !important;
        margin-left: 12px !important;
    }    
}

.drawer{
    width: 30%;
}