.main_menu_mobile{
    position: fixed;
    margin-top: 35px;
}

.main_menu_mobile > .dropdown > span > a{
    color: #888888 !important;
    text-decoration: none;
    font-family: cursive;
}

.logoImg{
    width: 80%;
    margin-top: 20px;
    margin-left: 25px;
}

.main_menu_mobile>li {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

.main_menu_mobile>li>a {
    font-family: Montserrat-Regular;
    font-size: 17px;
    font-weight: bold;
    color: #333333;
    padding: 0;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

@media only screen and (max-width: 426px){
    .drawer{
        width: 50% !important;
    }

    .logoImg{
        width: 80%;
        margin-top: 20px !important;
        margin-left: 12px !important;
    }
    
    .header-icons{
        display: flex !important;
    }
}

@media only screen and (max-width: 375px){
    .header-icons-noti{
        right: 42px !important;
    }
}

@media only screen and (max-width: 320px){
    .header-icons-noti{
        right: 24px !important;
    }
}

.drawer{
    width: 30%;
}

.mat-icon { 
    position: fixed !important;
}

/* icon */

.header-wrapicon1 {
    height: 27px;
    position: relative;
}

.header-wrapicon1 img, .header-wrapicon2 img {
    height: 100%;
}

.linedivide1 {
    display: block;
    height: 20px;
    width: 1px;
    background-color: #e5e5e5;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 5px;
}

.header-wrapicon2 {
    cursor: pointer;
}

.header-wrapicon2 {
    cursor: pointer;
}

.header-icons-noti {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #111111;
    color: white;
    font-family: Montserrat-Medium;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 52px;
}

.header-icons {
    display: none;
    align-items: center;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 10%;
    transform: translateY(-50%);
  }

  .menu-mobile{
      margin-top: 20px;
  }
