
<mat-drawer-container class="example-container main_container">
    <mat-drawer #drawer mode="over" class="drawer" style="position: fixed;">
        <a class="logo" href="#"><img class="logoImg" src="../../../../../assets/images/icons/logo.png" /></a>
        <ul class="main_menu_mobile">
            <li *ngFor="let item of navItems" class="zoom dropdown">
                <!-- <span *ngIf="item.children && item.children.length > 0">
                    <a [routerLink]="item.link" routerLinkActive="nav-active"
                        [matMenuTriggerFor]="menu.childMenu" #rla="routerLinkActive">{{ item.displayName }}
                        <mat-icon>expand_more</mat-icon></a>
                    <tree-menu #menu [nodes]="item.children"></tree-menu>
                </span>
                <span *ngIf="!item.children || item.children.length === 0">
                    <a [routerLink]="item.link" routerLinkActive="nav-active" #rla="routerLinkActive">{{ item.displayName }}</a>
                </span> -->
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <div>
            <app-header (show)="onShow($event)"></app-header>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
            <app-scroll-to-top></app-scroll-to-top>
        </div>
    </mat-drawer-content>
</mat-drawer-container>