<mat-drawer-container class="example-container main_container">
    <mat-drawer #drawer mode="over" opened="false" class="mat-menu">
        <a class="logo" href="#"><img class="logoImg" src="../../../../../assets/images/icons/logo.png" /></a>
        <div class="wrap-menu">
            <div class="menu-mobile">
                <app-tree-menu-mobile class="tree-mobile" *ngFor="let item of category" [item]="item"></app-tree-menu-mobile>
            </div>
        </div>
        <div class="d-out">
            <div class="out">
                <a (click)="navService.closeNav()">Thoát</a>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div>
            <app-header></app-header>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
            <app-scroll-to-top></app-scroll-to-top>
        </div>
    </mat-drawer-content>
</mat-drawer-container>