.bgwhite {
    background-color: white;
}

.p-b-65 {
    padding-bottom: 65px;
}

.p-t-55 {
    padding-top: 55px;
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 1200px;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 30%;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.p-r-20 {
    padding-right: 20px;
}

.m-text14 {
    font-family: cursive;
    font-size: 20px;
    color: #333333;
    line-height: 1.5;
    font-weight: bold;
}

.p-b-7 {
    padding-bottom: 7px;
}

.p-b-54 {
    padding-bottom: 54px;
    overflow-y: scroll;
    height: 250px;
    border: 1px solid #888888;
    margin-bottom: 30px;
}

.p-t-4 {
    padding-top: 4px;
    margin-left: -28px;
}

.active1 {
    color: #333333;
}

.s-text13 {
    font-family: cursive;
    font-size: 15px;
    color: #888888;
    line-height: 1.8;
    text-decoration: none;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

.bo3 {
    border-top: 1px solid #e1e1e1;
}

.p-b-50 {
    padding-bottom: 50px;
}

.p-t-22 {
    padding-top: 22px;
}

.m-text15 {
    font-family: Montserrat-Medium;
    font-size: 18px;
    color: #555555;
    line-height: 1.5;
}

.p-b-17 {
    padding-bottom: 17px;
}

mat-slider {
    width: 300px;
}