.p-b-65 {
  padding-bottom: 65px;
}

.p-t-55 {
  padding-top: 55px;
  justify-content: center;
  display: flex;
}

@media (min-width: 1200px) {
  .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 30%;
  }
}

@media (min-width: 768px) {
  .container-sm, .container-md {
    max-width: 720px;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.p-r-20 {
  padding-right: 20px;
}

.m-text14 {
  font-family: cursive;
  font-size: 20px;
  color: #333333;
  line-height: 1.5;
  font-weight: bold;
}

.p-b-7 {
  padding-bottom: 7px;
}

.p-b-54 {
  padding-bottom: 54px;
  overflow-y: scroll;
  height: 250px;
  margin-bottom: 30px;
}

.p-t-4 {
  padding-top: 4px;
  margin-left: -28px;
}

.active1 {
  color: #333333;
}

.s-text13 {
  font-family: cursive;
  font-size: 15px;
  color: #888888;
  line-height: 1.8;
  text-decoration: none;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}

.p-b-50 {
  padding-bottom: 50px;
}

.main-filter {
  display: flex;
  justify-content: center;
}

.bo4 {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.p-b-5 :hover {
  color: red !important;
}

.of-hidden {
  overflow: hidden;
}

.pos-relative {
  position: relative;
}

.size6 {
  width: 100%;
  height: 58px;
}

.s-text7 {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #555555;
  line-height: 1.8;
}

.p-r-50 {
  padding-right: 50px;
}

.p-l-23 {
  padding-left: 23px;
}

input {
  outline: none;
  border: none !important;
}

.size5 {
  width: 50px;
  height: 58px;
}

.color2 {
  color: #333333;
}

.ab-r-m {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flex-c-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

.fs-12 {
  font-size: 12px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* imgProduct */

.wrap-pic-w img {
  width: 100%;
}

.block2-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.block2-btn-addcart {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -45px;
}

.w-size1 {
  width: 161px;
}

.bo-rad-23 {
  border-radius: 23px;
}

.bg4 {
  background-color: #111111;
}

.p-t-20 {
  padding-top: 20px;
}

.s-text3 {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.5;
}

.dis-block {
  display: block;
}

.p-b-5 {
  padding-bottom: 5px;
}

.m-text6 {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #555555;
  text-transform: uppercase;
}

.p-r-5 {
  padding-right: 5px;
}

.block2>.block2-img>.block2-overlay {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.block2-overlay {
  width: 88% !important;
  max-height: 81%;
  text-align: center;
}

.block2>.block2-img>.block2-overlay {
  position: absolute;
  width: 100% !important;
  max-height: 100% !important;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
  .w-size1 {
    width: 125px !important;
  }
  .container1 {
    max-width: 750px !important;
  }
  .block2-overlay {
    max-width: 84% !important;
    max-height: 75% !important;
  }
  .s-text3 {
    font-family: Montserrat-Regular;
    color: #555555;
    line-height: 1.5;
    font-size: 17px;
    text-align: center;
  }
  .block2>.block2-img>.block2-overlay {
    max-height: 100% !important;
    max-width: 100% !important;
  }
  .block2-btn-addcart {
    left: 50% !important;
  }
  .addtocard1 {
    height: 36px !important;
  }
}

@media only screen and (max-width: 426px) {
  .block2>.block2-img>.block2-overlay {
    max-height: 100% !important;
  }
  .w-size1 {
    width: 175px !important;
  }
  .addtocard1 {
    height: 50px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .container1 {
    max-width: 1000px !important;
  }
  .block2-overlay {
    width: 88% !important;
    max-height: 81%;
    text-align: center;
  }
  .block2>.block2-img>.block2-overlay {
    position: absolute;
    width: 100% !important;
    max-height: 100% !important;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.p-t-20 {
  padding-top: 20px;
  text-align: center;
}

.s-text3 {
  font-family: Montserrat-Regular;
  font-size: 17px;
  color: #555555;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 480px) {
  .nav-item {
    padding: 0 0;
  }
}

.addtocard1 {
  width: 100%;
  height: 44px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  padding: 0 7px !important;
}

.m-text7 {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #555555;
  text-transform: uppercase;
  text-decoration: line-through;
}

.m-text8 {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #e65540;
  text-transform: uppercase;
}

.p-r-5 {
  padding-right: 5px;
}

.dis-block {
  display: block;
  text-decoration: none;
}

.p-b-5 {
  padding-bottom: 5px;
}

.block2-overlay {
  position: absolute;
  width: 90%;
  height: 84%;
  top: 0;
  left: 16px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.block2-overlay:hover {
  opacity: 1;
}

.block2-overlay:hover .block2-btn-addcart {
  bottom: 20px;
}

.block2-overlay:hover .block2-btn-addwishlist, .block2-overlay:hover .block2-btn-towishlist {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.block2-btn-addcart {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -45px;
}

.w-size1 {
  width: 161px;
}

.container1 {
  max-width: 1200px;
  position: relative;
  animation: banner1 2s ease;
}

.block2>.block2-img>.block2-overlay {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.block2>.block2-img>.trans-0-4 {
  transition: all 0.4s;
}

.block2>.block2-img>.block2-overlay:hover {
  opacity: 1;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.of-hidden {
  overflow: hidden;
}

.pos-relative {
  position: relative;
}

.container2 {
  width: 1200px;
}

.wrap-pic-w img {
  width: 100%;
}

@keyframes banner1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide1 {
  0% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes banner {
  0% {
    opacity: 1;
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes slide2 {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide3 {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0);
  }
}

.hov-img-zoom>img {
  width: 100%;
  object-fit: cover;
}

.pos-relative {
  position: relative;
}

.flex-c-m:hover {
  background-color: red;
  color: white;
}

.trans-0-4 {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.col-lg-9 {
  flex: 0 0 66% !important;
}

.pagination {
  margin-right: -6px;
  margin-left: -6px;
}

.flex-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.flex-w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.p-t-26 {
  padding-top: 26px;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

.active-pagination {
  background-color: #222222;
  color: white;
}

.item-pagination {
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #808080;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  margin: 6px;
}

.paging :hover {
  background-color: black !important;
}