<div>
    <h5 style="text-align: center;">Nhập mã giảm giá</h5>
    <div>
        <div class="flex-w flex-m w-full-sm">
            <div class="size11 bo4 m-r-10">
                <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="coupon-code" placeholder="Mã giảm giá">
            </div>
        </div>
    </div>

    <mat-dialog-actions>
        <div class="action-btn">
            <button class="mat-raised-button" (click)="close(false)">Đóng</button>
        </div>
        <div class="action-btn">
            <button class="mat-raised-button" (click)="save()">Áp dụng</button>
        </div>
    </mat-dialog-actions>
</div>